.greetingForm {
    display: flex;
    flex-direction: column;
}

.inputAndButtonContainer {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.error {
    color: #C00;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input {
    display: flex;
    width: 372px;
    height: 36px;
    margin-right: 12px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    padding: 8px 0 8px 12px;
}

.input:focus {
    border: none;
}

.errorInput {
    display: flex;
    width: 372px;
    height: 36px;
    margin-right: 12px;
    border-radius: 5px;
    border: 1px solid #C00;
    padding: 8px 0 8px 12px;
}

.button {
    display: inline-flex;
    height: 36px;
    padding: 5px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 3px;
    border: none;
    background: #06C;

    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    opacity: 0.5;
}

.text {
    color: rgba(0, 0, 0, 0.50);

    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.greeting {
    color: #000;

    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    padding-top: 10px;
}
